Autores:
- Hernán Francisco Díaz Farías
- María Angélica Parra Mendoza
- Loreto Constanza Zavala Gaete

# Tarea 1
### Realice una exploración de datos para ver que datos existen, cuales de ellos entregan información relevante para el problema y cuales no, eliminación (si corresponde) de datos nulos y duplicados, entre otros.

#### Librerías a utilizar

In [112]:
import pandas as pd

#### Cargar el archivo csv

In [113]:
# Cargar el archivo csv
df = (
    pd.read_csv(
        '../data/apartments_for_rent_classified_100K.csv',
        encoding='ISO-8859-1',
        sep=';',
        low_memory=False # Para evitar warnings de dtype
        )
    )

#### Visualización de los datos

In [114]:
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1,1,USD,No,Thumbnail,...,"$2,20",Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,RentLingo,1.577360e+09
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3,USD,No,Thumbnail,...,"$1,25",Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,RentLingo,1.577360e+09
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2,3,USD,No,Thumbnail,...,"$1,40",Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,RentLingo,1.577360e+09
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1,2,USD,No,Thumbnail,...,"$1,60",Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,RentLingo,1.577360e+09
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1,1,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,RentLingo,1.577360e+09

In [115]:
df.dtypes

id                object
category          object
title             object
body              object
amenities         object
bathrooms         object
bedrooms          object
currency          object
fee               object
has_photo         object
pets_allowed      object
price            float64
price_display     object
price_type        object
square_feet       object
address           object
cityname          object
state             object
latitude         float64
longitude         object
source            object
time             float64
dtype: object

Los campos tipo object representan campos que pueden contener registros nulos o errores de escritura. Se revisará el campo **id** para empezar.
### ID

In [116]:
df['id'].isnull().sum()

np.int64(0)

Creamos una función para revisar si el campo **id** puede ser numérico o no.

In [117]:
def check_id(id):
    try:
        int(id)
        return True
    except:
        return False

numericos = df['id'].apply(check_id).sum()
no_numericos = df['id'].shape[0] - numericos
print(f'Numericos: {numericos}, No numéricos: {no_numericos}')

Numericos: 99823, No numéricos: 3

Se observa que hay 3 registros que no son numéricos. Se revisarán estos registros.

In [118]:
df[~df['id'].apply(check_id)]

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
8808,ange of on-site community amenities. Coming so...,Gym,1,1,USD,No,Thumbnail,"Cats,Dogs",1380,"$1,38",...,NaN,Lawrence,NJ,402.659,-746.959,RentDigs.com,1.568782e+09,NaN,NaN,NaN
33780,xpansive rooftop entertainment deck and many p...,"Parking,Patio/Deck",1,1,USD,No,Thumbnail,NaN,2150,"$2,15",...,NaN,Los Angeles,CA,340.432,-1.182.509,RentDigs.com,1.568745e+09,NaN,NaN,NaN
75947,"ellite,Clubhouse,Dishwasher,Garbage Disposal,G...",2,2,USD,No,Thumbnail,"Cats,Dogs",1019,"$1,02",Monthly,...,Henrico,VA,376.249,-774.948,RentDigs.com,1550831790,NaN,NaN,NaN,NaN

Se procederá a eliminar estos registros, ya que no aportan información relevante.

In [119]:
df = df[df['id'].apply(check_id)]

Se convierte el campo **id** a tipo numérico.

In [120]:
df['id'] = df['id'].astype(int)

### Revisar campos nulos

In [121]:
df.isnull().sum()

id                   0
category             0
title                0
body                 0
amenities        16077
bathrooms           66
bedrooms           127
currency             3
fee                  3
has_photo            3
pets_allowed     60634
price                4
price_display        4
price_type           3
square_feet          3
address          91880
cityname           305
state              305
latitude            28
longitude           28
source               3
time                 3
dtype: int64

#### Amenities

In [122]:
df['amenities'].value_counts()

amenities
Parking                                                                       6204
Parking,Storage                                                               2117
Gym,Pool                                                                      1875
Pool                                                                          1487
Gym,Parking,Pool                                                              1191
                                                                              ...
AC,Dishwasher,Gated,Gym,Patio/Deck,Refrigerator,View                             1
Clubhouse,Internet Access,Parking,Pool,Storage                                   1
Gym,Parking,Playground,Storage,Washer Dryer                                      1
Basketball,Fireplace,Gym,Patio/Deck,Pool,Washer Dryer                            1
Fireplace,Gym,Parking,Patio/Deck,Playground,Pool,Refrigerator,Washer Dryer       1
Name: count, Length: 9841, dtype: int64

El campo **amenities** tiene una lista de valores separados por coma. Se asume que los valores nulos son aquellos que no tienen amenities. Se reemplazarán estos valores por **sin_amenities**.

In [123]:
df['amenities'] = df['amenities'].fillna('sin_amenities')

Dado que el campo **amenities** tiene valores separados por coma, se procederá a separar estos valores en columnas.

In [124]:
def split_amenities(df):
    # Convertir la columna 'amenities' en listas
    df['amenities'] = df['amenities'].str.split(',')

    # Crear variables dummy
    amenities_dummies = df['amenities'].str.join('|').str.get_dummies()

    # Unir las variables dummy con el DataFrame original
    df = df.drop('amenities', axis=1).join(amenities_dummies)
    return df


df = split_amenities(df)
df.head()

,id,category,title,body,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,Playground,Pool,Refrigerator,Storage,TV,Tennis,View,Washer Dryer,Wood Floors,sin_amenities
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",1,1,USD,No,Thumbnail,Cats,...,0,0,0,0,0,0,0,0,0,1
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",1.5,3,USD,No,Thumbnail,"Cats,Dogs",...,0,0,0,0,0,0,0,0,0,1
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,2,3,USD,No,Thumbnail,NaN,...,0,0,0,0,0,0,0,0,0,1
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",1,2,USD,No,Thumbnail,"Cats,Dogs",...,0,0,0,0,0,0,0,0,0,1
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",1,1,USD,No,Thumbnail,"Cats,Dogs",...,0,0,0,0,0,0,0,0,0,1

#### bathrooms

In [125]:
df['bathrooms'].value_counts()

bathrooms
1      56482
2      36704
1.5     3186
2.5     2083
3        891
3.5      209
4        120
4.5       42
5         20
6          8
5.5        4
7          3
8          2
8.5        1
9          1
7.5        1
Name: count, dtype: int64

Se reemplazarán los valores nulos por 0, ya que se asume que estos registros no tienen baños.

In [126]:
df['bathrooms'] = df['bathrooms'].fillna(0)
df.value_counts('bathrooms')

bathrooms
1      56482
2      36704
1.5     3186
2.5     2083
3        891
3.5      209
4        120
0         66
4.5       42
5         20
6          8
5.5        4
7          3
8          2
7.5        1
8.5        1
9          1
Name: count, dtype: int64

#### bedrooms

In [127]:
df[df['bedrooms'].isnull()]

,id,category,title,body,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,Playground,Pool,Refrigerator,Storage,TV,Tennis,View,Washer Dryer,Wood Floors,sin_amenities
790,5668638940,housing/rent/apartment,Studio apartment 606 Spokane Ct,"This unit is located at 606 Spokane Ct, Frankl...",2.5,NaN,USD,No,Thumbnail,NaN,...,0,0,0,0,0,0,0,0,0,1
1653,5668627195,housing/rent/apartment,Studio apartment 11 Calle de Arena,"This unit is located at eleven Calle de Arena,...",3,NaN,USD,No,Thumbnail,NaN,...,0,0,0,0,0,0,0,0,0,1
5024,5668640431,housing/rent/apartment,Studio apartment 303-319 Market Street,"This unit is located at 303-319 Market Street,...",2,NaN,USD,No,Thumbnail,NaN,...,0,0,0,0,0,0,0,0,0,1
7212,5668272551,housing/rent/apartment,bedroom in Medford MA 02155,Medford Walk-In Store Front Commercial Retail ...,1,NaN,USD,No,Thumbnail,NaN,...,0,0,0,0,0,0,0,0,0,1
7245,5625835116,housing/rent/apartment,A-P-T Suites Lakeland - Low Weekly & Monthly R...,A-P-T Suites is your next Extended Stay! We ha...,0,NaN,USD,No,Thumbnail,"Cats,Dogs",...,0,1,1,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97166,5121384474,housing/rent/apartment,Commuter's Dream in highly desirable Conshohoc...,"Two minutes to 76, 476, turnpike and train. An...",1,NaN,USD,No,Yes,NaN,...,0,0,0,0,0,0,0,0,0,0
97185,5121336668,housing/rent/apartment,Apartment in great location. Cat OK!,Forest Downs Apartments in Fitchburg feature a...,1,NaN,USD,No,Yes,Cats,...,0,0,0,0,0,0,0,1,0,0
98277,5121167377,housing/rent/apartment,Apartment for rent in Houston.,Rent $475. Discount given for good credit scor...,1,NaN,USD,No,Yes,"Cats,Dogs",...,0,0,1,0,0,0,0,0,0,0
99037,5121444937,housing/rent/apartment,Apartment in prime location. Pet OK!,Oxford apartments is located in the heart of K...,1,NaN,USD,No,Yes,"Cats,Dogs",...,0,0,0,0,0,0,0,0,0,1
99750,5121528395,housing/rent/apartment,LOCATION LOCATION LOCATION. Pet OK!,Store Frontage right on Rt 611 just above the ...,1,NaN,USD,No,Yes,"Cats,Dogs",...,0,0,0,0,0,0,0,0,0,1

Por una razón desconocida, hay registros que tienen **bedrooms** nulos. Se eliminarán estos registros, ya que por una razón lógica, no se puede arrendar un departamento sin dormitorios.

In [128]:
df = df.dropna(subset=['bedrooms'])
df['bedrooms'].isnull().sum()

np.int64(0)

#### pets_allowed

In [129]:
df['pets_allowed'].value_counts()

pets_allowed
Cats,Dogs         37187
Cats               1844
Dogs                127
Cats,Dogs,None        1
Name: count, dtype: int64

Se observa que no existen registros que no permitan mascotas. Se reemplazarán los valores nulos por **no**. Adicionalmente se observa que un registro tiene un valor None, el cual se corregirá.

In [130]:
df.loc[df['pets_allowed'].isnull(), 'pets_allowed'] = 'no'
df.loc[df['pets_allowed'] == 'Cats,Dogs,None', 'pets_allowed'] = 'Cats,Dogs'

### Revisar duplicados

In [131]:
# Revisar si hay valores duplicados
df.duplicated().sum()

np.int64(84)

Se remueven los registros duplicados.

In [132]:
df = df.drop_duplicates()
df.shape

(99612, 49)